{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <h3>Log a new case</h3>
    <br>
    {% if user %}
        <h4>Welcome, {{ user.split('@')[0].capitalize() }}!</h4>
        <br>
    {% endif %}
    <form  id="case-form" action="/" method="post">
        <div class="form-row justify-content-center">
          <div class="col-auto my-1">
            <label for="exampleFormControlInput1">Case Number</label>
            <input type="text" class="form-control" name="case_number" placeholder="Case Number" autocomplete="off" required>
          </div>
          <div class="col-md-4 my-1">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title" autocomplete="off" required>
          </div>

          <div class="col-auto my-1">
            <label for="exampleFormControlInput1">Category</label>
            <select class="form-control" placeholder="Category" name="category">
                <option selected>...</option>
               {% for category in categories %}
                    <option>{{ category.product }}</option>
               {% endfor %}
            </select>
          </div>
          <div class="col-auto my-1">
            <label for="exampleFormControlInput1">Sub-Category</label>
            <select class="form-control" placeholder="sub-category" name="sub-category">
                <option selected>...</option>
                {% for sub_category in sub_categories %}
                    <option>{{ sub_category.sub_type }}</option>
                {% endfor %}
            </select>
          </div>
        </div>

        <br><br>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">What was the issue?</label>
            <div class="typeArea" contenteditable="true"></div>
            <input type="hidden" name="issue_description" class="hiddenInput">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Environment</label>
            <div class="typeArea" contenteditable="true"></div>
            <input type="hidden" name="environment" class="hiddenInput">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">How did you get to the solution?</label>
            <div class="typeArea" contenteditable="true"></div>
            <input type="hidden" name="troubleshooting" class="hiddenInput">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Resolution</label>
            <div class="typeArea" contenteditable="true"></div>
            <input type="hidden" name="resolution" class="hiddenInput">
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Add</button>


    </form>

    <script>

        document.getElementById('case-form').addEventListener('submit', function(event) {
            
            event.preventDefault();

            let invalidInputFound = false;

            const areas = document.querySelectorAll('.typeArea');
            const hiddenInputs = document.querySelectorAll('.hiddenInput');
          
            areas.forEach((area, index) => {
                let content = area.innerHTML;
                content = content.replace(/<div><br><\/div>/g, '\n');
                content = content.replace(/<div>(.*?)<\/div>/g, '$1\n');
                content = content.replace(/<span.*?>(.*?)<\/span>/g, '$1\n');
                content = content.replace(/<p.*?>(.*?)<\/p>/g, '$1\n');
                content = content.replace(/<br>(.*?)<br>/g, '$1\n');
                content = content.replace(/<br>/g, '\n');

                if (!content || !content.trim()) {
                    
                    invalidInputFound = true;
                    return;
                }

                hiddenInputs[index].value = content;
            });

            if (invalidInputFound) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please fill in all fields properly',
                });
                return;
            }
        
            var data = new FormData(event.target);

            fetch(event.target.action, {
                method: 'POST',
                body: data
            }).then(response => {
                if (!response.ok) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Case alreaady exists',
                    });
                }
                else {
                    Swal.fire({
                        position: "top-end",
                        icon: 'success',
                        title: 'New case added',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                return response.text();
            }).then(data => {
                console.log('Form Submitted sucessfully: ', data);
            }).catch(error => {
                console.log('Error: ', error);
            });

        });

    </script>


{% endblock %}